
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert{
    width: 95%;
    margin: 20px;
}

.container .mainrow{
    width: 900px;
    height: 600px;
    display: grid;
    border-radius: 10px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
    grid-template-columns: 30% 69%;
    grid-column-gap: 10px;
    padding: 10px;
}

.container .mainrow .leftdiv,
.container .mainrow .rightdiv{
    border: 1px solid dodgerblue;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
}

.container .mainrow .leftdiv{
    background-color: dodgerblue;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-row-gap: 0;
    position: relative;
}

.container .mainrow .leftdiv .text{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
}

.container .mainrow .leftdiv .loginhere{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.loginhere p{
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.container .mainrow .rightdiv{
    padding: 10px;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: auto;
    grid-row-gap: 10px;
}

.container .mainrow .rightdiv .logo{
    height: 100%;
    color: gray;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Cinzel',serif;
}

.container .mainrow .rightdiv .registrationdiv{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .mainrow .rightdiv .registrationdiv form{
    width: 100%;
}

.container .mainrow .rightdiv .registrationdiv .contentblock{
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    margin: 0;
}

.label{
    color: gray;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container .rightdiv .registrationdiv .contentblock input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container .rightdiv .registrationdiv .contentblock .errormessages{
    color: red;
    font-size: 1.1em;
    margin: 10px 0px;
    width: 100%;
    word-wrap: break-word;
}


.container .rightdiv .registrationdiv .contentblock .innerdiv{
    margin-bottom: 30px;
    position: relative;
}

button:disabled{
    cursor: not-allowed;
}

input:disabled{
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.2);
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    5%{
        transform: rotate(15deg);
    }
    10%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(45deg);
    }
    30%{
        transform:rotate(60deg);
    }
    40%{
        transform:rotate(75deg);
    }
    50%{
        transform: rotate(90deg);
    }
    60%{
        transform: rotate(135deg);
    }
    70%{
        transform: rotate(180deg);
    }
    80%{
        transform:rotate(225deg);
    }
    90%{
        transform:rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

.clearfix{
    width: 100%;
}

.container .rightdiv .registrationdiv .contentblock .innerdiv input + i.fa-eye,
.container .rightdiv .registrationdiv .contentblock .innerdiv input + i.fa-spinner{
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 1.2em;
    color: gray;
}

.container .rightdiv .registrationdiv .contentblock .innerdiv input + i.fa-check-circle{
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 1.2em;
    color: green;
}

.container .rightdiv .registrationdiv .contentblock .innerdiv input + i.fa-times-circle{
    position: absolute;
    bottom: 37px;
    right: 15px;
    cursor: pointer;
    font-size: 1.2em;
    color: red;
}

.container .rightdiv .registrationdiv .contentblock .innerdiv input + i.fa-spinner{
    bottom: 10px;
    color: orange;
    transform: scale(0);
    /*animation: spin 1s infinite ease-in-out;*/
    font-size: 1.2em;
}

@media (max-width:992px){
    .container .mainrow{
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 30% 70%;
    }
    .container .mainrow .rightdiv .logo img{
        width: 50px;
        height: 50px;
    }
    .container .mainrow .leftdiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 5px;
    }

    .container .mainrow .rightdiv .logo{
        font-size: 1.3em;
    }

    .container .mainrow .leftdiv .text{
        margin: 0;
    }

    .container .mainrow .leftdiv .loginhere{
        width: fit-content;
        height: fit-content;
        padding: 8px;
        box-shadow: none;
    }
    .loginhere p{
        margin: 0;
        font-size: 1em;
    }

    .label{
        font-size: 1em;
    }
}

@media (max-width:360px){
    .clearfix{
        display: flex;
        flex-direction: column-reverse;
    }

    .clearfix button,
    .clearfix a{
        width: 100%;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .container .mainrow .rightdiv .logo{
        font-size: 1em;
    }
}